/* Normal Variable Font */
@font-face {
  font-family: 'Ubuntu Sans';
  src: url('../assets/UbuntuSans-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
  font-stretch: 75% 100%;
  font-style: normal;
}

/* Italic Variable Font */
@font-face {
  font-family: 'Ubuntu Sans';
  src: url('../assets/UbuntuSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
  font-stretch: 75% 100%;
  font-style: italic;
}

:root {
    font-size: 10px;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 600;
}

h2 {
    font-size: 2.25rem;
    margin: 0;
    font-weight: 500;
}

h3 {
    font-size: 2rem;
    margin: 0;
    font-weight: 500;
}

h4 {
    font-size: 1.75rem;
    margin: 0;
    font-weight: 500;
}

h5 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 500;
}

h6 {
    font-size: 1.25rem;
    margin: 0;
    font-weight: 500;
}

pre {
    font-family: "Ubuntu Sans";
    font-size: 1.25rem;
    margin: 0;
    font-weight: 500;
}

body {
    margin: 0;
    overflow: hidden;
    button {
        cursor: pointer;
    }
}

#container {
    display: grid;
    grid-template-columns: fit-content(400px) 1fr;
    height: 95vh;
    dialog {
        margin: 0 !important;
    }
}

#side-nav {
    font-family: 'Ubuntu Sans', sans-serif;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 95vh;

    svg {
        margin-right: 10px;
    }

    #add-task {
        svg path {
            fill: #d33322 !important;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
}

#side-nav::-webkit-scrollbar,
#content::-webkit-scrollbar,
#container::-webkit-scrollbar {
    display: none;
}

#content {
    padding: 40px;
    background: black;
    color: white;
    overflow-y: scroll;
    height: 95vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#side-nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#side-nav > div, #side-nav li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#side-nav > div:hover, #side-nav li:hover {
    background-color: whitesmoke;
}

.projects {
    flex-direction: column !important;
    gap: 10px;
    cursor: auto;
    padding: 0 !important;
    align-items: stretch !important;
    > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }
    > div:hover {
        background-color: whitesmoke;
    }
    .project-item {
        justify-content: space-between !important;
        align-items: center !important;
        span {
            display: flex;
            justify-content: start;
            align-items: center;
            flex: 1;
        }
        button {
            padding: 5px;
        }
    }

    button:not(form button) {
        padding: 2px;
        aspect-ratio: 1;
        display: flex;
        border: none;
        border-radius: 5px;
        background-color: transparent;
        align-items: center;
        cursor: pointer;
        svg {
            margin: 0 !important;
        }
    }

    button:not(form button):hover {
        background-color: lightgrey;
    }
}

.projects:hover {
    background: transparent !important;
}

.confirm-deletion, .edit-task-dialog {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

textarea, input, select {
    border: none;
    border-radius: 5px;
    min-height: 25px;
    padding-left: 10px;
    background-color: whitesmoke;
    outline: none;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 10px;
    margin: 0 0 10px 0;

    > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    button {
        padding: 10px 25px !important;
        border: none !important;
        border-radius: 5px !important;
    }
    button:not(.cancel-btn) {
        background-color: #D1FFBD;
    }
}

label {
    font-size: 1.25rem;
}

dialog {
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin: 0;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
}

.to-do-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .to-do-options {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        aspect-ratio: 1;
        padding: 5px;
        border: none;
        border-radius: 5px;

        path {
            fill: white;
        }
    }
    .to-do-options:hover {
        background: #212121;
    }

    .button-text-wrap {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .due-date {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        align-items: center;
        gap: 5px;
        
        path, h6 {
            color: #50C878;
            fill: #50C878;
        }
    }
    .due-date.past {
        path, h6 {
            color: #E31C25 !important;
            fill: #E31C25 !important;
        }
    }
}

.toggle-complete {
    padding: 0 !important;
    border-radius: 1000px;
    align-self: start;
    display: flex;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    margin: 2px 0 0 0;
    path {
        display: none;
    }
}

.toggle-complete:hover path {
    display: block;
    fill: grey;
}

.to-do-wrap.complete {
    h4 {
        text-decoration: line-through !important;
        color: gray;
    }
    .toggle-complete {
        background-color: lightgrey !important;
        path {
            fill: grey !important;
            display: block !important;
        }
    }
    .due-date {
        path {
            fill: grey;
        }
        h6 {
            color: grey;
        }
    }
}

.project-wrap > * {
    padding: 10px 0;
    border-bottom: 1px solid grey;
}

.to-do-context-menu[open] {
    display: flex;
    flex-direction: column;
}

.project-context-menu, .to-do-context-menu {
    padding: 0;
    button {
        padding: 10px 25px;
        border: none;
    }
    button:hover {
        background-color: lightgrey;
    }
}

.confirm-deletion {
    button {
        border: none;
        border-radius: 5px;
        padding: 10px 25px;
        margin-top: 20px;
    }
    .del-btn {
        background-color: #E31C25;
        margin-right: 10px;
    }

    .cancel-btn {
        background-color: whitesmoke;
    }
}